.container-section{
    padding: 12px 34px;
    
}

.title h1{
    font-size: 20px;
    font-weight: 600;
   color: var(--css-white);
}

.Albhum{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.section{
    display: flex;
    justify-content: space-between;
}

.container-section-btn{
    font-size: 20px;
    font-weight: 600;
    color: var(--css-primary);
    cursor: pointer;
}